{% extends 'base.html' %}

{% block conteudo %}

<form action="/biblioteca/alterar" method="POST">
    <h1>alterar Livro</h1>
    <div>ISBN: <input type="text" name="isbn" value="{{ livro.isbn }}" readonly></div>
    <div>Titulo: <input type="text" name="titulo" value="{{ livro.titulo }}"></div>
    <div>Autor: <input type="text" name="autor" value="{{ livro.autor }}"></div>
    <div>Genero: <input type="text" name="genero" value="{{ livro.genero }}"></div>
    <div>Ano Publicacao: <input type="text" name="ano_publicacao" value="{{ livro.ano_publicacao }}"></div>
    <div>Editora: <input type="text" name="editora" value="{{ livro.editora }}"></div>
    <div>Paginas: <input type="text" name="paginas" value="{{ livro.paginas }}"></div>
    <div>Status: <input type="text" name="status" value="{{ livro.status }}"></div>
    <div>Localizacao: <input type="text" name="localizacao" value="{{ livro.localizacao }}"></div>
    <button type="submit">Salvar</button>

</form>

{% endblock %}